* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

$bg: #eae9e4;
$dark: #1c1717;
$light: #f2f2f2;
$title: #e2a947;
$textLight: #eeede8;
$textDark: #323d3d;

body {
  background-color: $bg;
}
